---
interface Props {
    recipes: any[];
}

const block = Astro.props;
---
<ul class="grid gap-4 md:grid-cols-3">
    {
        block.recipes.map((recipe) => {
            console.log(recipe)
            return (
                <li class="border border-black p-2"><a href={`/recipes/${recipe.slug}`}>{recipe.data.title}</a></li>
            )
        })
    }
</ul>