---
import Heading from "@components/generic/heading/heading.astro"

interface HeadingProps {
    text: string;
    heading_heirarchy: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'paragraph';
    heading_size: '2xl' | 'xl' | 'lg' | 'md' | 'sm' | 'xs';
}

interface Props {
    heading: HeadingProps;
    ingredients: String[];
    image: string;
    image_alt: string;
    "bookshop:live": boolean;
}

const block: Props = Astro.props;
---
<section class="grid grid-cols-mobile desktop:grid-cols-desktop pt-16 gap-4">
    <Heading class="col-span-content" heading_alignment="left" {...block.heading} />
    <div class="col-start-2 col-span-1 desktop:col-start-2 desktop:col-span-5 flex flex-col gap-6 bg-indigo-300 p-4 drop-shadow-xl">
        <Heading class="border-b border-indigo-950" text="Ingredients" heading_heirarchy="h2" heading_size="lg" heading_alignment="left" />
        <ul class="list-disc pl-4 flex flex-col gap-2">
            {
                block.ingredients.map((ingredient) => {
                    return (
                        <li>{ingredient}</li>
                    )
                })
            }
        </ul>
    </div>
    <div class="col-start-2 col-span-1 desktop:col-start-7 desktop:col-span-7">
        <img class="w-full" src={block.image} alt={block.image_alt}>
    </div>
</section>