---
import Heading from "@components/generic/heading/heading.astro"

interface HeadingProps {
    text: string;
    heading_heirarchy: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'paragraph';
    heading_size: '2xl' | 'xl' | 'lg' | 'md' | 'sm' | 'xs';
}

interface Props {
    heading: HeadingProps;
    ingredients: String[];
    image: string;
    image_alt: string;
}

const block: Props = Astro.props;
---
<section class="grid grid-cols-mobile desktop:grid-cols-desktop py-16 bg-indigo-50">
    <div class="col-start-2 col-span-1 desktop:col-start-2 desktop:col-span-4 flex flex-col gap-6">
        <Heading {...block.heading} />
        <div class="bg-indigo-300 p-4">
            <div class="border-b border-slate-400 mb-4"><Heading text="Ingredients" heading_heirarchy="h2" heading_size="lg" /></div>
            <ul class="list-disc pl-4 flex flex-col gap-2">
                {
                    block.ingredients.map((ingredient) => {
                        return (
                            <li>{ingredient}</li>
                        )
                    })
                }
            </ul>
        </div>
    </div>
    <div class="col-start-2 col-span-1 desktop:col-start-7 desktop:col-span-7">
    <img class="w-full" src={block.image} alt={block.image_alt}>
    </div>
</section>