---
import PageLayout from "../../layouts/Base.astro";
import Hero from "@components/sections/hero/hero.astro"
import Heading from "@components/generic/heading/heading.astro"
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
export interface Props {
  page: CollectionEntry<"recipes">;
}

export async function getStaticPaths() {
  const pages = await getCollection("recipes");
  return pages.map((page) => {
    const slug = page.slug.replace(/index$/, "");
    if (slug.length === 0)
      return { params: { slug: undefined }, props: { page } };
    return { params: { slug }, props: { page } };
  });
}

const { page } = Astro.props;

const heroProps = {
  heading: {
    text: page.data.title,
    heading_heirarchy: "h1",
    heading_size: 'lg'
  },
  ingredients: page.data.ingredients,
  image: page.data.hero_image.path,
  image_alt: page.data.hero_image.alt
}

const { Content } = await page.render();
---

<PageLayout title={page.data.title} description={page.data.description} >
  <!-- <PageHelper bookshop:live contentBlocks={page.data.content_blocks ?? []} /> -->
  <Hero {...heroProps} />
  <section class="grid grid-cols-mobile desktop:grid-cols-desktop py-16 gap-4">
    <div class="col-span-content flex flex-col prose">
      <Heading class="" text="Method" heading_heirarchy="h2" heading_size="lg" heading_alignment="left" />
      <Content />
    </div>
  </section>
</PageLayout>