---
import PageLayout from "../layouts/Base.astro";
import PageHelper from "../pages/page.astro";
import Heading from "@components/generic/heading/heading.astro"
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
export interface Props {
  page: CollectionEntry<"pages">;
}

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => {
    const slug = page.slug.replace(/index$/, "");
    if (slug.length === 0)
      return { params: { slug: undefined }, props: { page } };
    return { params: { slug }, props: { page } };
  });
}

const { page } = Astro.props;

const { Content } = await page.render();
---

<PageLayout title={page.data.title} description={page.data.description} hero={page.data.hero} >
  <PageHelper bookshop:live contentBlocks={page.data.content_blocks ?? []} />
  <section class="grid grid-cols-mobile desktop:grid-cols-desktop py-16 bg-indigo-50">
    <div class="col-span-content flex flex-col prose">
      <Heading class="" text="Method" heading_heirarchy="h2" heading_size="lg" />
      <Content />
    </div>
  </section>
</PageLayout>