---

---
<nav class="grid grid-cols-mobile desktop:grid-cols-desktop py-4 gap-4 bg-indigo-50 drop-shadow-sm">
    <div class="flex justify-between col-span-content">
        <a href="/"><img class="max-h-10" src="https://placehold.co/600x400"></a>
        <ul class="flex gap-4">
            <li>
                <a class="hover:text-indigo-500 hover:underline text-indigo-950" href="/recipes/">Recipes</a>
            </li>
            <li>
                <a class="hover:text-indigo-500 hover:underline text-indigo-950" href="/meal-planner/">Meal Planner</a>
            </li>
        </ul>
    </div>
</nav>